.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  color: #333;
}

h1 {
  font-size: 2.5rem;
  color: #000;
  margin-top: 20px;
}

.create-button {
  background-color: #4CAF50; 
  color: white; 
  font-size: 16px; 
  font-weight: bold;
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.create-button:hover {
  background-color: #45a049; 
  transform: scale(1.05);
}

.create-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  transform: none;
}
